
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script  src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js ">
    </script>

</head>

<body>
<main>


    <script src="css/chart.js"></script>
    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="845" height="356" style="display: block; height: 285px; width: 676px;"></canvas>

    <script src="css/mychart2.js"></script>

</main>

</body>
</html>
